#mobile-diretorias {
  display: none;
}

#mobile-hide-diretorias {
  display: block;
}

.diretorias_bg {
  background-color: #1d1c1c;
}

.diretorias {
  /*display: none, para corrigir o layout (width)*/

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.diretorias .splide__slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

#mobile-hide-diretorias .diretorias .box-container .splide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1215px;
  margin-top: 30px;
}

#mobile-hide-diretorias .diretorias .splide__slide.is-active .box {
  width: 360px !important;
  height: 502px !important;
  margin-bottom: 39px !important;
}

#mobile-hide-diretorias .splide__slide.is-active .box .img_diretorias {
  width: 230px !important;
  height: 221px !important;
  display: flex !important;
  justify-content: center !important;
  display: block !important;
  margin: 0 auto !important;
  margin-bottom: 20px !important;
  margin-top: -15px !important;
}

#mobile-hide-diretorias .splide__slide.is-active .box .img_dir_projeto {
  width: 180px !important;
  height: 200px !important;
}

#mobile-hide-diretorias .splide__slide.is-active .box .txt_diretorias {
  display: flex !important;
  width: 320px !important;
  height: 167px !important;
  border-left: 4px solid #3867d6 !important;
  border-radius: 5px !important;
  flex-direction: column !important;
  justify-content: flex-start !important;
  text-align: left !important;
  margin-bottom: 28px !important;
  margin-top: -30px !important;
}

#mobile-hide-diretorias .splide__slide.is-active .box .txt_diretorias h3 {
  font-family: Nunito !important;
  font-style: normal !important;
  font-weight: bold !important;
  font-size: 22px !important;
  line-height: 30px !important;
  color: #ffffff !important;
  padding: 1.5rem 0 !important;
  margin-top: -20px !important;
  margin-left: 14px !important;
}

#mobile-hide-diretorias .splide__slide.is-active .box .txt_diretorias p {
  font-family: Nunito !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 16px !important;
  line-height: 22px !important;
  color: #ffffff !important;
  line-height: 2.2rem !important;
  margin-left: 14px !important;
}

#mobile-hide-diretorias .splide__slide.is-active .box .bttn_diretorias {
  justify-content: center !important;

  width: 251px !important;
  height: 46px !important;

  background-color: #3867d6 !important;
  border-radius: 15px !important;

  font-family: Nunito !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 25px !important;
  line-height: 25px !important;
  display: flex !important;
  align-items: center !important;
  text-align: center !important;
  margin-top: 18.25px !important;
  cursor: pointer !important;
}

#mobile-hide-diretorias .splide__slide.is-active .box .bttn_diretorias .buttom_diretoria {
  justify-content: center !important;

  width: 205px !important;
  height: 22px !important;

  background-color: #3867d6 !important;
  border-radius: 15px !important;

  font-family: Nunito !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 18px !important;
  line-height: 25px !important;
  display: flex !important;
  align-items: center !important;
  text-align: center !important;
  color: #eee !important;
  cursor: pointer !important;
}

#mobile-hide-diretorias
  .splide__slide.is-visible.is-active
  .box
  .img_dir_comercial {
  width: 180px;
  height: 180px;
}

#mobile-hide-diretorias
  .splide__slide.is-visible.is-active
  .box
  .img_dir_marketing {
  width: 200px;
  height: 160px;
}

/* #mobile-hide-diretorias
  .splide__slide.is-visible.is-active
  .box
  .img_dir_projeto {
  width: 100px;
  height: 100px;
} */

.diretorias .box-container .box {
  display: flex;
  width: 260.92px;
  height: 375px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  text-align: center;

  background: #333333;
  box-shadow: 0px 1px 15px #000000;
  border-radius: 20px;
}

.diretorias .box-container .box .img_diretorias {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  display: block;
  margin-top: -15px;
}

.diretorias .box-container .box .img_diretorias .img_dir_comercial {
  margin-top: 20px;
}

.diretorias .box-container .box .img_diretorias .img_dir_marketing {
  margin-top: 20px;
}

.diretorias .box-container .box .txt_diretorias {
  display: flex;
  width: 228.92px;
  height: 135px;
  border-left: 4px solid #3867d6;
  border-radius: 5px;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  margin-bottom: 28px;
}

.diretorias .box-container .box .txt_diretorias h3 {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
  padding: 1.5rem 0;
  margin-top: -20px;
  margin-left: 14px;
}

.diretorias .box-container .box .txt_diretorias p {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
  /* line-height: 1.8rem; */
  margin-left: 14px;
}

.diretorias .bttn_diretorias {
  justify-content: center;

  width: 187.5px;
  height: 34.36px;

  background-color: #3867d6;
  border-radius: 10px;

  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 25px;
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: -3px;
}

.diretorias .bttn_diretorias .buttom_diretoria {
  justify-content: center;

  width: 187.5px;
  height: 34.36px;

  background-color: #3867d6;
  border-radius: 15px;

  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 25px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #eee;
}

.box-container {
  margin-top: 10px;
}

.diretorias .splide__arrow.splide__arrow--prev {
  margin-left: 0px;
}

/* -------------------------> MEDIA QUERIE DIRETORIAS <-------------------------  */

@media (max-width: 1215px) {

  #mobile-hide-diretorias .diretorias .box-container .splide {
    width: 1081px;
  }

  .diretorias .splide__arrow.splide__arrow--prev {
    margin-left: -40px;
  }

  .diretorias .splide__arrow.splide__arrow--next {
    margin-right: -40px;
  }

  /* .diretorias .splide__arrow.splide__arrow--prev {
    margin-left: 40px;
  }

  .diretorias .splide__arrow.splide__arrow--next {
    margin-right: 40px;
  } */
}

/* @media (max-width: 1201px) {
  .diretorias .splide__arrow.splide__arrow--prev {
    margin-left: 40px;
  }

  .diretorias .splide__arrow.splide__arrow--next {
    margin-right: 40px;
  }
} */

@media (max-width: 1140px) {
  .diretorias .splide__arrow.splide__arrow--prev {
    margin-left: -20px;
  }

  .diretorias .splide__arrow.splide__arrow--next {
    margin-right: -20px;
  }
}


/* @media (max-width: 1119px) {
  .diretorias .splide__arrow.splide__arrow--prev {
    margin-left: 60px;
  }

  .diretorias .splide__arrow.splide__arrow--next {
    margin-right: 60px;
  }
} */

@media (max-width: 1108px) {
  .diretorias .splide__arrow.splide__arrow--prev {
    margin-left: 0px;
  }

  .diretorias .splide__arrow.splide__arrow--next {
    margin-right: 0px;
  }
}


@media (max-width: 1081px){

  #mobile-hide-diretorias{
    display: none;
  }

  #mobile-diretorias {
    display: block;
    /* display: none; */
  }

  .diretorias .box-container .splide {
    width: 375px;
    margin-top: 30px;
  }

  .diretorias .box-container .box {
    width: 360px;
    height: 502px;
    margin-bottom: 39px;
    box-shadow: none;
  }

  .diretorias .box-container .box .txt_diretorias {
    width: 320px;
    height: 167px;
    text-align: left;
    margin-bottom: 28px;
    margin-top: -30px;
  }

  .diretorias .box-container .box .txt_diretorias p {
    font-size: 16px;
    line-height: 22px;
    line-height: 2.2rem;
    margin-left: 14px;
  }

  .diretorias .box-container .box .txt_diretorias h3 {
    font-size: 22px;
    line-height: 30px;
    padding: 1.5rem 0;
    margin-top: -20px;
    margin-left: 14px;
  }

  .diretorias .box-container .box .bttn_diretorias {
    width: 251px;
    height: 46px;

    background-color: #3867d6;
    border-radius: 15px;

    font-weight: 600;
    font-size: 25px;
    line-height: 25px;

    margin-top: 18.25px;
    cursor: pointer !important;
  }

  .diretorias .box-container .box .bttn_diretorias .buttom_diretoria {
    width: 205px;
    height: 22px;

    background-color: #3867d6;
    border-radius: 15px;

    font-weight: 600;
    font-size: 18px;
    line-height: 25px;

    color: #eee !important;
    cursor: pointer !important;
  }

  .diretorias .box-container .box .img_diretorias {
    width: 230px;
    height: 221px;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: -15px;
  }

  .diretorias .box-container .box .img_dir_projeto {
    width: 200px;
    height: 200px;
  }

  .diretorias .box-container .box .img_dir_comercial {
    width: 180px;
    height: 180px;
  }

  .diretorias .box-container .box .img_dir_marketing {
    width: 200px;
    height: 160px;
  }

  .diretorias .splide__arrow.splide__arrow--prev {
    margin-left: -20px;
  }

  .diretorias .splide__arrow.splide__arrow--next {
    margin-right: -20px;
  }
}

@media (max-width: 397px) {
  .diretorias .box-container .splide {
    width: 260.9px;
    margin-top: 30px;
  }

  .diretorias .box-container .box {
    width: 260.92px;
    height: 375px;
  }

  .diretorias .box-container .box .img_diretorias {
    width: 150px !important;
    height: 150px !important;
    margin-top: -15px !important;
  }

  .diretorias .box-container .box .img_dir_projeto {
    width: 130px;
    height: 150px;
  }

  .diretorias .box-container .box .img_dir_comercial {
    width: 120px;
    height: 120px;
  }

  .diretorias .box-container .box .img_dir_marketing {
    width: 140px;
    height: 110px;
  }

  .diretorias .box-container .box .img_diretorias .img_dir_comercial {
    margin-top: 20px !important;
  }

  .diretorias .box-container .box .img_diretorias .img_dir_marketing {
    margin-top: 20px !important;
  }

  .diretorias .box-container .box .txt_diretorias {
    width: 228.92px;
    height: 135px;
    text-align: left;
    margin: 0 auto;
  }

  .diretorias .box-container .box .txt_diretorias h3 {
    font-size: 16px;
    line-height: 22px;
    padding: 1.5rem 0;
    margin-top: -20px;
    margin-left: 14px;
  }

  .diretorias .box-container .box .txt_diretorias p {
    font-size: 12px;
    line-height: 16px;
    margin-left: 14px;
  }

  .diretorias .bttn_diretorias {
    width: 187.5px !important;
    height: 34.36px !important;
  }

  .diretorias .bttn_diretorias .buttom_diretoria {
    font-size: 14px !important;
  }

  .diretorias .splide__arrow.splide__arrow--prev {
    margin-left: -30px;
  }

  .diretorias .splide__arrow.splide__arrow--next {
    margin-right: -30px;
  }
}

@media (max-width: 299px) {
  .diretorias .box-container .box {
    width: 240px;
  }

  .diretorias .splide__arrow.splide__arrow--prev {
    margin-left: -20px;
  }

  .diretorias .splide__arrow.splide__arrow--next {
    margin-right: -20px;
  }

  .diretorias .box-container .box .txt_diretorias {
    width: 200px;
    height: 135px;
    text-align: left;
    margin: 0 auto;
  }

  .diretorias .box-container .box .txt_diretorias p {
    font-size: 11px;
    line-height: 16px;
    margin-left: 14px;
  }

  .diretorias .bttn_diretorias .buttom_diretoria {
    font-size: 14px;
  }
}

@media (max-width: 280px) {
  .diretorias .box-container .box {
    width: 220px;
  }

  .diretorias .splide__arrow.splide__arrow--prev {
    margin-left: -15px;
  }

  .diretorias .splide__arrow.splide__arrow--next {
    margin-right: -15px;
  }
}
