/* .review {
  justify-content: center;
  flex-wrap: wrap;
} */

/* #card-slider-review {
  width: 1200px;
} */

#mobile-review{
  display:none;
}

#mobile-hide-review{
  display: block;
}

.review{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.review .splide__slide{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.review .box-container .splide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1080px;
}

.review .box-container {
  display: flex;
  justify-content: center;
  /* flex-direction: row; */
  flex-wrap: wrap;
  /* width: 1080px; */
  margin-right: 0rem;
}

.review .card {
  /* height: 500px; */
  height: 590px;
  width: 290px;
  margin: 20px;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  background-color: #111;
}

.review .card .bg-image img {
  width: 100%;
  height: 230px;
  object-fit: cover;
  clip-path: polygon(0 0, 100% 0%, 100% 70%, 45% 100%, 0 70%);
}

.review .pic img {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  border: 10px solid #111;
  margin-top: -90px;
  position: relative;
}

.review .card .info h3 {
  color: #f0f0f0;
  font-size: 20px;
  padding: 10px 0;
}

.review .card .info span {
  font-size: 15px;
  color: var(--main-color);
}

.review .card .info p {
  font-size: 13px;
  padding: 10px 20px;
  color: #999;
}

.review .splide__arrow.splide__arrow--prev {
  margin-left: 0px;
}

.review .splide__arrow.splide__arrow--next {
  margin-right: 0px;
}

/* -------------------------> MEDIA QUERIE DEPOIMENTOS <-------------------------  */
@media (max-width: 1080px){

  .review .box-container .splide {
    width: 1005px;
  }
}

/* @media (max-width: 1046px){
  .review .splide__arrow.splide__arrow--prev {
    margin-left: 20px;
  }
  
  .review .splide__arrow.splide__arrow--next {
    margin-right: 20px;
  }
} */

/* @media (max-width: 1028px){
  .review .splide__arrow.splide__arrow--prev {
    margin-left: 30px;
  }
  
  .review .splide__arrow.splide__arrow--next {
    margin-right: 30px;
  }
} */

@media (max-width: 1005px){
    #mobile-review{
    display: block;
    /* display: none; */
  }

  #mobile-hide-review{
    display: none;
  }

  .review .box-container .splide {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    width: 330px;
  }

  .review .card{
    margin-bottom: 40px;
  }

  .review .splide__arrow.splide__arrow--prev {
    margin-left: -5px;
  }
  
  .review .splide__arrow.splide__arrow--next {
    margin-right: -5px;
  }

}

/* @media (max-width: 400px){

.review .box-container .splide {
  width: 400px;
}

.review .card{
  margin-bottom: 40px;
}

} */



@media (max-width: 329px){

  .review .card{
    width: 250px;
  }

  .review .box-container .splide {
    width: 289px;
  }

  /* .review .splide__arrow.splide__arrow--prev {
    margin-left: 48px;
  }
  
  .review .splide__arrow.splide__arrow--next {
    margin-right: 48px;
  } */

  .review .card .info p {
    font-size: 12px;
  }

}

@media (max-width: 288px){

  .review .card{
    width: 230px;
  }

  .review .box-container .splide {
    width: 230px;
  }

  .review .splide__arrow.splide__arrow--prev {
    margin-left: -7px;
  }
  
  .review .splide__arrow.splide__arrow--next {
    margin-right: -7px;
  }

  .review .card .info p {
    font-size: 11px;
  }

}
