.sobre .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.sobre .row .image {
  flex: 1 1 45rem;
  padding: 1rem;
}

.sobre .row .image iframe {
  width: 100%;
  border-radius: 1.25rem;
  border: 1rem solid #333;
}

.sobre .row .content {
  flex: 1 1 45rem;
}

.sobre .row .content h3 {
  font-size: 3.5rem;
  color: #fff;
  text-transform: none;
}
.sobre .row .content p {
  font-size: 1.5rem;
  color: #eee;
  padding: 0.5rem 0;
  line-height: 2;
  text-transform: none;
}
.sobre .row .content a {
  text-transform: none;
}
