@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;600;700&display=swap");

:root {
  --main-color: #3867d6;
  --black: #444;
  --light-color: #777;
  --box-shadow: 0.5rem 0.5rem 0 rgba(7, 95, 196, 0.2);
  --text-shadow: 0.4rem 0.4rem 0 rgba(0, 0, 0, 0.2);
  --border: 0.2rem solid var(--main-color);
}

* {
  font-family: "Nunito", sans-serif;
  margin: 0; /* Margem */
  padding: 0; /* Preenchimento*/
  box-sizing: border-box; /* Tamanho da caixa */
  outline: none; /* Contorno */
  border: none;
  text-decoration: none; /* Decoração do texto */
  transition: 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden; /*não deixa exceder o limite da tela*/
  scroll-padding-top: 7rem;
  scroll-behavior: smooth; /*Rolagem de comportamento: suave*/
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: #444;
}

html::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 5rem;
}

body {
  background: #222;
  width: 100%;
  height: 100%;
  /* margin: 0 auto;
  max-width: 1600px; */
}

section {
  padding: 2rem 9%;
}
.heading {
  text-align: center;
  padding-bottom: 2rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 4rem;
}

.heading span {
  color: var(--main-color);
  text-transform: uppercase;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.8rem 3rem;
  font-size: 1.7rem;
  border-radius: 0.5rem;
  background: #666;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
}

.btn:hover {
  background: var(--main-color);
}

.header {
  position: fixed; 
  top: 0; /* Topo: zero*/
  left: 0; /* Esquerda: zero*/
  right: 0; /* Direita: zero*/
  z-index: 1000; /*especifica a ordem da pilha de um elemento do anúncio*/
  background: #333;
  display: flex;
  align-items: center;
  justify-content: space-between; /*alinhar os elementos ao longo do eixo principal:  O primeiro item é deslocado para o início do eixo principal, o último é deslocado para o final do eixo principal e os demais são distribuídos uniformemente entre eles */
  padding: 1.5rem 9%; /*distância entre o conteúdo de um elemento e suas bordas*/
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.header .logo {
  font-weight: bolder; /*Basicamente é um negrito*/
  color: #fff;
  font-size: 2.5rem; /*tamanho da letra(fonte)*/

  height: 25px;
  width: 99px;
}

.header .logo span {
  color: var(--main-color);
}

.header .navbar a {
  font-size: 1.7rem;
  color: #fff;
  margin-left: 2rem;
}

.header .navbar a:hover {
  color: var(--main-color);
}

#menu-bars {
  font-size: 3rem;
  color: #fff;
  cursor: pointer;
  display: none;
}

.diretorias {
  background-color: #1d1c1c;
}

/* -------------------------> FOOTER STARTS <-------------------------  */
.footer {
  position: absolute;
  left: 0;
  right: 0;
  background: #111;
}

.footer .box-container {
  display: grid;
  justify-items: center;
  /* grid-template-columns: 1fr 1fr 1fr; */
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}

.footer .box-container .box {
  width: 230px;
}

.footer .box-container .box h3 {
  font-size: 2.4rem;
  padding: 1rem 0;
  color: #ffffff;
}

.footer .box-container .box a {
  display: block;
  font-size: 1.5rem;
  padding: 1rem 0;
  color: #ffffff;
}

.footer .box-container .box a i {
  padding-right: 0.5rem;
  color: var(--main-color);
}

.footer .box-container .box a:hover i {
  padding-right: 1.5rem;
  color: #ffffff;
}

#email-footer,
#instagram-footer {
  text-transform: lowercase;
}

.footer .credit {
  text-align: center;
  border-top: 0.1rem solid #222;
  color: #ffffff;
  padding: 2rem;
  padding-top: 2.5rem;
  margin-top: 1rem;
  font-size: 2rem;
}

.footer .credit span {
  color: var(--main-color);
}

.footer .credit a {
  font-family: Nunito;
  color: #3867d6;
}
/* -------------------------> FOOTER END <-------------------------  */

/* -------------------------> MEDIA QUERIES <-------------------------  */
@media (max-width: 991px) {
  /* html {
    font-size: 55%;
  } */
  .header {
    padding: 1.5rem 2rem;
  }
  section {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  #menu-bars {
    display: initial; /*Pode ser utilizado para restaurar todas as propriedades para o seu estado inicial.*/
  }
  .header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border-top: 0.1rem solid #222;
    background: #333;
    display: none;
    /* clip-path: polygon(0 0, 100% 0, 100% 0, 0 0); */
  }

  /*Isso quando clica nos 3 risco do header, abre o inicio, sobre, diretorias...*/

  .header .navbar.active {
    display: block;
    /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); */
  }

  .fa-times {
    transform: rotate(180deg);
  }

  .header .navbar a {
    display: flex;
    background: #222;
    border-radius: 0.5rem;
    padding: 1.3rem;
    margin: 1.3rem;
    font-size: 2rem;
  }
  .home .content h3 {
    font-size: 4rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .home .home-slider .swiper-slide img {
    width: 27rem;
  }

  .home .home-slider .swiper-slide .content h3 {
    font-size: 5rem;
  }
  .contato form .inputBox input {
    width: 100%;
  }
}
