@media (max-width: 1120px) {
  .cultura {
    padding-top: 50px !important;
    min-height: 500px !important;
  }

  .cultura .title {
    margin-bottom: 0px !important;
  }

  .cultura .missão {
    margin-top: 20px;
    flex-direction: column !important;
    align-items: center;
  }

  .cultura h2 {
    font-size: 20px !important;
    margin: 0px 5px 0px 5px !important;
  }

  .cultura .m_lines {
    flex-direction: column !important;
  }

  .cultura .m_line_box_1 {
    width: 149px !important;
    height: 17px !important;

    border-top: 0px solid !important;
    border-right: 2px solid !important;
    border-bottom: 2px solid !important;
    border-left: 2px solid !important;

    border-color: #3867d6 !important;
  }

  .cultura .m_line_box_2 {
    height: 8px !important;
    width: 1px !important;
  }

  .cultura .m_text {
    margin-top: 15px;
    width: 100%;
    justify-content: center;
  }

  .cultura .graphics {
    flex-direction: row !important;
  }

  .cultura p {
    font-size: 14px !important;
    line-height: 19px !important;
    text-align: center !important;
  }

  .cultura .visão {
    min-height: 240px !important;
    margin-top: 25px !important;

    flex-direction: column-reverse !important;
    justify-content: center !important;
  }

  .cultura .v_lines {
    flex-direction: column !important;
  }

  .cultura .v_line_box_1 {
    width: 149px !important;
    height: 17px !important;

    border-top: 0px solid !important;
    border-right: 2px solid !important;
    border-bottom: 2px solid !important;
    border-left: 2px solid !important;

    border-color: #3867d6 !important;
  }

  .cultura .v_line_box_2 {
    height: 8px !important;
    width: 1px !important;
  }

  .cultura .v_text {
    padding: 15px 20px 15px 20px !important;

    width: 100% !important;
    min-width: 303px !important;
    word-wrap: break-word;
  }
}

.cultura {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  padding-top: 75px;
  background-color: #1d1c1c;
}

.cultura .title {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}

.cultura h1 {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;

  padding-bottom: 2rem;
  text-transform: uppercase;
  font-size: 4rem;
  margin: 0px 6px 0px 6px;
}

.cultura .nossa_title {
  color: #3867d6;
}

.cultura .cultura_title {
  color: #ffffff;
}

.cultura .cultura_elements {
  display: flex;
  flex-direction: column;
  position: relative;

  width: 100%;
  max-width: 1035px !important;
}

.cultura .missão {
  display: flex;
  flex-direction: row;

  height: 130px;
}

.cultura .graphics {
  display: flex;
  flex-direction: column;
}

.cultura h2 {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;

  font-size: 4rem;
  line-height: 45px;
  margin: 0px 6px 0px 6px;
}

.cultura .word1 {
  color: #444444;
}

.cultura .word2 {
  color: #3867d6;
}

.cultura .word3 {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 4rem;

  text-shadow: rgb(255, 255, 255) 1px 0px 0px,
    rgb(255, 255, 255) 0.540302px 0.841471px 0px,
    rgb(255, 255, 255) -0.416147px 0.909297px 0px,
    rgb(255, 255, 255) -0.989992px 0.14112px 0px,
    rgb(255, 255, 255) -0.653644px -0.756802px 0px,
    rgb(255, 255, 255) 0.283662px -0.958924px 0px,
    rgb(255, 255, 255) 0.96017px -0.279415px 0px;
}

.cultura .m_lines {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin: 0px 18px 0px 20px;
}

.cultura .m_line_box_1 {
  width: 126px;
  height: 95px;

  border-top: 2px solid;
  border-right: 2px solid;
  border-bottom: 2px solid;
  border-color: #3867d6;
}

.cultura .m_line_box_2 {
  width: 32px;
  height: 1px;

  border: 1px #3867d6 solid;
}

.cultura .m_text {
  display: flex;
  align-items: center;
}

.cultura p {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;

  color: #ffffff;
}

.cultura .visão {
  margin-top: 75px;

  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;

  height: 144px;
}

.cultura .v_lines {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin: 0px 18px 0px 20px;
}

.cultura .v_line_box_1 {
  width: 32px;
  height: 1px;

  border: 1px #3867d6 solid;
}

.cultura .v_line_box_2 {
  width: 126px;
  height: 97px;

  border-top: 2px solid;
  border-left: 2px solid;
  border-bottom: 2px solid;
  border-color: #3867d6;
}

.cultura .v_text {
  width: 692px;
}
