@media (max-width: 875px) {
  .home .home_elements {
    height: 83vh !important;
  }

  .home .title {
    padding-top: 65px !important;
    width: 245px !important;
  }

  .home .processo {
    flex-direction: column !important;
    padding-left: 26px;
  }

  .home h1 {
    font-size: 32px !important;
    text-align: left !important;
  }

  .home h2 {
    font-size: 16px !important;
    padding-left: 26px !important;
    margin-bottom: 15px;
  }

  .home .year {
    font-size: 18px !important;

    text-align: left !important;
    padding-left: 26px;
    margin-top: 5px;
  }

  .home .clock-web {
    justify-content: none !important;
    width: 335px !important;
    padding: 10px !important;
  }

  .home h3 {
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 16px !important;
    line-height: 21px !important;
    color: #ffffff;
  }

  .home .clock-top {
    flex-direction: column !important;
    width: 100% !important;
    align-items: center !important;
    margin-bottom: 5px !important;
  }

  .home .clock-block {
    margin-right: 0px !important;
  }

  .home .container {
    justify-content: center !important;
  }

  .home .vagas-block {
    padding-top: 5px;
    width: 100% !important;
  }

  .home .list {
    flex-direction: row !important;
    padding-top: 0px !important;
    justify-content: space-between;
  }

  .home .list-row {
    flex-direction: column !important;
    padding-bottom: 5px;
  }

  .home h5 {
    font-size: 14px !important;
    line-height: 25px !important;
    width: 100px !important;
    margin-top: 5px;
  }

  .home .clock-bottom {
    justify-content: none !important;
  }

  .home .inscreva-se {
    width: 49% !important;
    font-size: 16px !important;
  }

  .home .edital {
    width: 100%;
    font-size: 16px !important;
  }

  .home .sem_vagas {
    width: 300px !important;
    height: 165px !important;
  }

  .home .bellContainer {
    transform: translate(660%, -100%) !important;
  }
}

@media (max-width: 875px) {
  #flipdown .rotor {
    font-size: 30px !important;
  }
}

@media (max-width: 992px) {
  .home {
    background-position: 25% 100% !important;
  }
}

.home {
  height: 100vh;
  background: url(../img/time-unect.png) #222222;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.home .home_elements {
  height: 90vh;
  position: relative;
  justify-content: center;
  align-items: center;
}

.home .title {
  padding-top: 100px;
  width: 840px;
}

.home .processo {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.home h2 {
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  padding-left: 33px;
  color: #ffffff;
}

.home h1 {
  font-weight: bold;
  font-size: 64px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #216dd7;
}

.home .year {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  text-align: right;
  padding-right: 40px;
  letter-spacing: 0.1em;
  color: #ffffff;
}

.home .clock-web {
  flex-direction: column;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 20px;
  background: rgba(39, 39, 39, 0.8);
  border-radius: 10px;
}

.home .clock-top {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  justify-content: space-between;
}

.home .clock-block {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  width: 100%;
  min-width: 313px;
}

#flipdownAux {
  display: none !important;
}

.home h3 {
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
}

.home .bottomText {
  text-align: right;
}

.home .container {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
  transform: translate(1%, 0%);
}

#flipdown {
  font-size: 16px !important;
}

#flipdown .rotor {
  font-size: 50px;
}

.home .vagas-block {
  display: flex;
  flex-direction: column;
  width: 260px;
}

.home .vagasText {
  text-align: center;
  justify-content: center;
  letter-spacing: 1.25px;
  margin-bottom: 5px;
}

.home .list {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

.home .list-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 5px;
}

.home h5 {
  font-style: bold;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  width: 125px;
  color: #216dd7;
  border-radius: 5px;
  background-color: #dddddd;
  cursor: default;
}

.home .indisponivel {
  background-color: #333333;
  color: grey;
  text-decoration: line-through;
}

.home .clock-bottom {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  justify-content: space-between;
}

.home .inscreva-se {
  width: 49%;
  height: 30px;
  background: #216dd7;
  border-radius: 10px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
}

.home .edital {
  height: 30px;
  background: rgba(39, 39, 39, 0.8);
  border: 1.5px solid #216dd7;
  border-radius: 10px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 29px;
  text-align: center;
  color: #216dd7;
  cursor: pointer;
}

.home .arrow {
  height: 50%;
  transform: translate(0%, 7%);
}

.home .sem_vagas {
  flex-direction: column;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 330px;
  height: 185px;
  padding: 20px;
  background: rgba(39, 39, 39, 0.8);
  border-radius: 10px;
}

.sem_vagas .bellContainer {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  background: #216dd7;
  width: 35px;
  height: 35px;
  border-radius: 07012002px;
  transform: translate(725%, -100%);
}

.sem_vagas .bell {
  transform: translate(0%, 10%);
}

.home .sem_vagas h3 {
  font-weight: normal;
}

.home .disabled {
  display: none !important;
}
